@{
    ViewBag.Title = "Englilush Home";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">@ViewBag.DefaultBranchName</li>
    <li>@Html.ActionLink("Check In", "CheckIn", "Home")</li>
    <li>@Html.ActionLink("Pick Up", "PickUp", "Home")</li>
    <li>@Html.ActionLink("Lunch", "Lunch", "Home")</li>
    <li>@Html.ActionLink("Branche Info", "BranchesInfo", "Brnaches", new { BranchId = ViewBag.DefaultBranchId }, null)</li>
    <li>@Html.ActionLink("Change Branch", "ChangeBranch", "Brnaches")</li>

    <li>@Html.ActionLink("My Info", "MyInfo", "Counslers")</li>

</ul>