@model MobileApplication.Models.StudentCounslerModelToView

<script type="text/javascript">
    var StudentId = @Model.Student.ID;
</script>

<fieldset style="margin-top:25px">
    <legend>
        <p><b>@Model.Student.FirstName @Model.Student.LastName &nbsp&nbsp</b>@Model.Student.Grade-@Model.Student.SClass
        </p> 
    </legend>
    <legend data-role="controlgroup">

        @if (Model.Student.Parent1Name != null)
        {
            <input type="radio" name="PickerName" id="picker_parentA" value="@Model.Student.Parent1Name" data-is_other="false" />
            <label for="picker_parentA">@Model.Student.Parent1Name</label>
        }
        @if (Model.Student.Parent2Name != null)
        {
            <input type="radio" name="PickerName" id="picker_parentB" value="@Model.Student.Parent2Name" data-is_other="false" />
            <label for="picker_parentB">@Model.Student.Parent2Name</label>
        }

        @for (int i = 0; i < Model.Student.PickUpOptions.Count; i++)
        {
            <input type="radio" name="PickerName" id="picker_@i.ToString()" value="@Model.Student.PickUpOptions[i]" data-is_other="false" />
            <label for="picker_@i.ToString()">@Model.Student.PickUpOptions[i]</label>
        }

        <input type="radio" name="PickerName" id="picker_other" value="other" data-is_other="true" />
        <label for="picker_other">Other</label>

    </legend>
    <legend>
        <p>
            <div>
                @Model.Student.Parent1Name :
                <a href="tel:@Model.Student.Parent1Num;">@Model.Student.Parent1Num</a>
            </div>
            <div>
                <a href="mailto:@Model.Student.Parent1Email">@Model.Student.Parent1Email</a>

            </div>
        </p>
    </legend>

    <legend>
        <p>
            <div>
                @Model.Student.Parent2Name : <a href="tel:@Model.Student.Parent2Num;">@Model.Student.Parent2Num</a>
            </div>
            <div>
                <a href="mailto:@Model.Student.Parent2Email">@Model.Student.Parent2Email</a>

            </div>
        </p>
    </legend>
    <p>
        <div>
            Gender:
            @Model.Student.Gender
        </div>
        <div>
            Address:
            @Model.Student.Address
        </div>
        <div>
            BirthDay:
            @Model.Student.BirthDay.ToString("d")
        </div>
    </p>

</fieldset>




<a href="#popupStudentPickedUp" id="pickerSubmitA" class="ui-disabled" data-rel="popup" data-role="button" data-position-to="window">
    Submit Picked up
</a>

<div data-role="popup" id="popupMenu" data-theme="a" data-position-to="window">
    <div data-role="popup" id="popupStudentPickedUp" data-theme="a" class="ui-corner-all">
        <form>
            <div style="padding:10px 20px;">
                <center>
                    <p>Are you sure you want to be picked by:</p>
                    <p id="pickerNameDsiplay"></p>
                    <a href="" id="PickUpApprovedRef" data-role="button" data-rel="back" data-theme="b">Sounds good</a>
                    <a href="" data-role="button" data-rel="back" data-theme="c">Naaa.. Wrong Picker</a>
                </center>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#PickUpApprovedRef").click(function (event) {
            console.log("pickedup for student:" + StudentId );
            var picker = $('input[name=PickerName]:checked').val();
            var json = { StudentId: StudentId,  Picker:picker, UserName:'@Model.Counsler.UserName'};

            $.ajax({
                url: "PickUpStudent",
                type: "POST",
                data: json,
                success: function (data, textStatus, jqXHR) {
                    console.log("PickUpApprovedRef response:"+data);
                    if (data == "OK") {
                        window.history.back();
                    }
                    //data - response from server
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Failed to be picked up.. (maybe no id)');
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        });

        $("[name='PickerName']").click(function(){
            $("#pickerSubmitA").removeClass("ui-disabled");
            var picker = $('input[name=PickerName]:checked').val();
            $("#pickerNameDsiplay").html(picker);
        });


    });

</script>