@model MobileApplication.Models.StudentModel

<fieldset style="margin-top:25px">
    <p>
        <b>@Model.FirstName @Model.LastName &nbsp&nbsp</b>@Model.Grade-@Model.SClass
    </p>
    <p>
        <div>
            @Model.Parent1Name :
            <a href="tel:@Model.Parent1Num;">@Model.Parent1Num</a>
        </div>
        <div>
            <a href="mailto:@Model.Parent1Email">@Model.Parent1Email</a>

        </div>
    </p>

    <p>
        <div>
            Parent2Name : <a href="tel:@Model.Parent2Num;">@Model.Parent2Num</a>
        </div>
        <div>
            <a href="mailto:@Model.Parent2Email">@Model.Parent2Email</a>

        </div>
    </p>
    <p>
        <div>
            Gender:
            @Model.Gender
        </div>
        <div>
            Address:
            @Model.Address
        </div>
        <div>
            BirthDay:
            @Model.BirthDay.ToString("d")
        </div>
    </p>

    <p>
        <div>
            <b>Checked in:</b>
            @if (Model.IsCheckedIn)
            {
                <div>On:@Model.CheckedIn.When</div>
                <div>By Counsler: @Model.CheckedInCounslerName</div>
            }
            else
            {
                <label>Still not</label>
            }
        </div>
    </p>
    <div>
        <div>
            <b>Picked Up:</b>
            @if (Model.IsPickedUp)
            {
                <div>At: @Model.PickUp.When</div>
                <div>By: @Model.PickUp.ByWhom</div>
                <div>With Counsler: @Model.PickUpCounslerName</div>
            }
            else
            {
                <label>Still not</label>
            }

    </div>
    </p>

        </fieldset>
