@model MobileApplication.Models.BranchModel

<fieldset>
    <legend>BranchModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrincipalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrincipalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrincipalNUmber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrincipalNUmber)
    </div>
</fieldset>
